<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{css/profile_button.css}" rel="stylesheet" />
  <title>Bozon</title>
</head>
<body>
<form class="login_form" th:action="@{/forgot_password}" th:object="${user}" method="post">
  <p style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
<!--  <p th:if="${#fields.hasErrors('username')}" th:errors></p>-->
  <div><label> Enter username : <input type="text" placeholder="Username" name="username"/> </label></div>
  <br>
  <div><input class="profile_button" type="submit" value="Get"/></div>
</form>

</body>
</html>