<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Sing In</title>
    <link rel="icon" type="image/png" th:href="@{../images/icon.png}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{../css/style.css}">
    <!--  Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Work+Sans:wght@300;500;700&display=swap"
          rel="stylesheet">
</head>
<body>


<section class="section section--login" id="login">
    <header class="header header--other" id="header">
        <div class="container">
            <div class="header_inner" style="height: 67px">
                <a href="../index.html" class="header_logo" style="height: 67px">
                    <img th:src="@{/images/logo-light.png}" alt="" width="170">
<!--                    <img th:src="@{/images/logo-light.svg}" alt="" width="170">-->
                </a>
                <nav class="nav">
                    <a class="nav_link nav_link--other" th:href="@{/}">Home</a>
                    <a class="nav_link nav_link--other" th:href="@{/products}">Catalog</a>
                    <a class="nav_link nav_link--other" th:href="@{/user/cart}">Cart</a>
                    <a class="nav_link nav_link--other" th:href="@{/#contact}">Contact</a>
                    <a class="nav_link nav_link--other" th:href="@{/user/profile}">Profile</a>
                </nav>
            </div>
        </div>
    </header>


    <div class="login_header">
        <h2 class="section_title_login">Sing In</h2>
        <h3 class="section_suptitle_login">You have been logged out!</h3>
    </div>
    <div class="error" th:if="${param.error}">
        Invalid username or password.
    </div>
    <form th:action="@{/login}" method="post">
        <div class="login_page">
            <div class="login_item">
                <div class="login_title">
                    <div>
                        <text class="login_text">Username</text>
                        <input name="username" class="login_form" type="text" autocomplete="on">
                    </div>
                    <div>
                        <text class="login_text">Password</text>
                        <input name="password" class="login_form" type="password" autocomplete="on">
                    </div>
                </div>

                <div class="container container--btn">
                    <a th:href="@{/register}"><input class="btn" type="button" value="Sign Up"></a>
                    <a><input class="btn" type="submit" value="Sign In"></a>
                </div>
                <nav class="pas">
                    <a th:href="@{/forgot_password}" class="pas_link">Forgot Password</a>
                </nav>

            </div>
        </div>
    </form>
</section>

</body>
</html>