<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BOZON</title>
    <style>
        a {
            color: black;
            font-family: "GTEestiPro",arial,sans-serif;
            text-decoration: none;
        }
        a:hover {
            color: #685bff;
        }
    </style>
    <link th:href="@{../css/profile_button.css}" rel="stylesheet" />
</head>
<body>
<form th:action="@{/products}" th:method="get">
    <label>category</label>
    <select th:name="category">
        <option th:value="all"></option>
        <option th:each="category : ${categories}"
                th:value="${category}"
                th:text="${category}">
        </option>
    </select>
    <button type="submit" class="profile_button">Submit</button>
</form>

<br>
<br>
<div th:each="product : ${products}">
    <a th:href="@{/products/{id}(id=${product.getId()})}" th:text="${product.getName() + ' ' + product.getPrice()} + ' ' + '&#8381'"></a>
    <br>
    <br>
</div>
<form th:action="@{/}">
    <button class="profile_button" type="submit">Back</button>
</form>
</body>
</html>