<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BOZON</title>
    <style>
        p {
            color: black;
            font-family: "GTEestiPro",arial,sans-serif;
        }
    </style>
    <link th:href="@{../css/profile_button.css}" rel="stylesheet" />
</head>
<body>
<h1><b><p th:text="${product.getName()}"></p></b></h1>
<h2><p th:text="${product.getCategory()}"></p></h2>
<p th:text="${product.getDescription()}"></p>
<div th:if="${not flag}">
    <form th:action="@{/login}">
        <button class="profile_button" type="submit" name="product">Add to cart</button>
    </form>
</div>

<div th:if="${flag}">
    <form th:if="${cart == null}" th:action="@{/products/{id}/add_to_cart (id=${product.getId()})}" th:object="${product}" th:method="patch">
        <button class="profile_button" type="submit" name="product">Add to cart</button>
    </form>
    <form th:if="${not (cart == null)}" th:action="@{/user/cart}">
        <button class="profile_button" type="submit" name="product">Go to cart</button>
    </form>
</div>
<br>
<form th:action="@{/products}">
    <button class="profile_button" type="submit" name="product">Back</button>
</form>
</body>
</html>