.auth_button {
    width: 75px;
    height: 25px;
    color: #fff;
    user-select: none; /* Убираем текстовое выделение */
    text-decoration: none;	/* Убираем подчеркивание */
    outline: none; /* Убираем контур вокруг ссылки */
    background-color: #bb4ef2; /* Цвет фона */
    text-align: center;
    border: none;
}
.auth_button:hover {
    background-color: #cc80f2; /* Цвет кнопки при наведении курсора */
}
