<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/profile_button.css}" rel="stylesheet" />
    <title>Bozon</title>
</head>
<body>
<form class="login_form" th:action="@{/user/change_password}" method="post">
  <div><label> Old password : <input type="password" placeholder="old password" name="oldPassword"/> </label></div>
  <div><label> New password : <input type="password" placeholder="new password" name="newPassword"/> </label></div>
  <div><label> Repeat password : <input type="password" placeholder="repeat password" name="repeatedPassword"/> </label></div>
    <br>
  <div><input class="profile_button" type="submit" value="Change"/></div>
</form>
</body>
</html>