<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Profile</title>
    <link rel="icon" type="image/png" th:href="@{../images/icon.png}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{../css/style.css}">
    <!--  Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Work+Sans:wght@300;500;700&display=swap"
          rel="stylesheet">
</head>
<body>


<section class="section section--login">
    <div class="section_header_login">
        <h2 class="section_title_login">Your profile</h2>
        <h3 class="section_suptitle_login">Here should be avatar img</h3>
    </div>

    <div class="login_page" th:object="${profile_user}">
        <div class="login_item" >
            <div class="login_title">
                <div>
                    <text class="login_text">Username:</text>
                    <span th:text="${profile_user.getUsername()}">name</span>
                </div>

                <div>
                    <text class="login_text">Year of birth</text>
                    <span th:text="${profile_user.getDateOfBirth()}">year</span>
                </div>
                <br>
                <a th:href="@{/products}"><input class="btn" type="button" value="Go to catalog"></a>
                <a th:href="@{/user/change_password}"><input class="btn" type="button" value="Change password"></a>
                <a th:href="@{/user/basket}"><input class="btn" type="button" value="Cart"></a>
            </div>
        </div>
    </div>


    </div>
</section>

</body>
</html>
