<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bozon</title>
    <link th:href="@{profile_button.css}" rel="stylesheet" />
</head>
<body>
<p><b>Profile</b></p>
<div>
    <p> Username: <span th:text="${user.getUsername()}">name</span></p>
    <p> Year of birth: <span th:text="${user.getDateOfBirth()}">year</span></p>
</div>
<br>
<a th:href="@{/catalog}"><input class="profile_button" type="button" value="Go to catalog"></a>
<a th:href="@{/change_username}"><input class="profile_button" type="button" value="Change username"></a>
<a th:href="@{/change_password}"><input class="profile_button" type="button" value="Change password"></a>
</body>
</html>
