<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Bozon</title>
    <link th:href="@{auth_button.css}" rel="stylesheet" />
</head>
<body>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/register}" th:method="post" th:object="${user}">
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    <div><label> Username : <input type="text" name="username"/> </label></div>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div style="color: red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></div>
    <div><label> Year of birth: <input type="text" name="dateOfBirth"/> </label></div>
    <div><input class="auth_button" type="submit" value="Sign up"/></div>
</form>
</body>
</html>